body {
  background-color: #F5F5F5;
  color: #464E46;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  /* Panels */ }
  body .panel {
    width: 100vw;
    height: 100vh; }
  body .accent {
    color: #2196F3; }
  body #landing {
    display: flex;
    justify-content: center;
    align-items: center; }
    body #landing .content {
      display: flex;
      justify-content: center; }
      body #landing .content img {
        border-radius: 50%;
        max-width: 20%; }
      body #landing .content .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em; }
        body #landing .content .intro h1 {
          font-size: 4em;
          margin: 0 0 0.5em 0; }
        body #landing .content .intro h3 {
          font-size: 1.5em;
          margin: 0 0 0.5em 0; }
        body #landing .content .intro p {
          font-size: 1.2em;
          margin: 0; }
          body #landing .content .intro p .accent {
            font-weight: bold; }
  body #current_biz {
    display: flex;
    align-items: center;
    flex-direction: column; }
    body #current_biz > h1 {
      font-size: 4em; }
    body #current_biz .content {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      body #current_biz .content .card {
        flex: 0 1 calc(20% - 1em);
        font-size: 1.5em;
        margin: 1em; }
        body #current_biz .content .card .badge-accent, body #current_biz .content .card .btn-accent {
          background-color: #2196F3;
          transition: 0.25s; }
        body #current_biz .content .card .badge {
          font-size: 0.9em;
          padding: 0.2em; }
        body #current_biz .content .card .btn-accent {
          width: 100%; }
        body #current_biz .content .card .btn-accent:hover {
          box-shadow: inset 1000px 0 0 0 rgba(0, 0, 0, 0.5); }
