/*
* GENERAL
*/

body {
	margin: 0 0;
}

#page {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: #fff;
}

.social {
	position: absolute;
	bottom: 1em;
	margin-left: 0;
	right: 1em;
}

.social ul {
	list-style: none;
	margin-bottom: 0;
}

.social ul li {
	display: inline;
}

p { 
	line-height: 1.2;
	margin: 0 0;
}
/*
* PANELS
*/

#panel-landing {
	/*text-align: center;*/
	height: 25vh;
	background-color: #FFF;
}

#panel-resume {

}

#panel-projects {

}

#panel-intouch {

}

/*
* LANDING PANEL
*/

#greet {
	margin-bottom: 0;
}

#landing-blurb {
	overflow: hidden;
}

#main-menu {
	margin-left:3em;
}

#main-menu ul {
	list-style: none;
	margin-left:-2.3em;
	font-size: 1.5em;
}

#main-menu ul li {
	display: inline;
	margin: 0 1em;
}

a {
	color :#727272;
}

a:hover {
	color: #03A9F4;
}

a i {
	color: inherit;
}

/*
* RESUME PANEL
*/

#panel-resume .fp-tableCell {
	vertical-align: baseline;
}

#resume-container {
	font-size: 1.3em;
	margin-left:2.3em;
	width: 80vw;
	margin-top:2.3em;
}

#resume-container p {
	margin-top: 0;
}

.em-resume {
	color: #000;
	font-weight: bold;
	font-size:1.5em;
}

/*
* PROJECTS PANEL
*/

#panel-projects .fp-tableCell {
	vertical-align: baseline;
}

.projects-row {
	height: 100px;
	width: 90vw;
}

.projects-cell {
	width: 20vw;
	height:100px;
	background-color: #fff;
	margin:0.5em 0.5em;
	float:left;
}

/*
* MODIFIERS
*/

.large { font-size: 3.0em; }
.accentsize { font-size: 1.4em; }
.basesize { font-size: 1.2em; }

.bold { font-weight: bold; }

.pos-abs { position: absolute; }

.mt-z { margin-top: 0; }

.mb-z { margin-bottom: 0; }

.vcenter {
    top: 40vh;
    position: relative;
    transform: translateY(-50%);
}

.primarytext {color :#727272;} 
.accent {color:#03A9F4;}



/*
* FONT DATA
*/

.opensans { font-family: OpenSans; }
.oswald { font-family: Oswald; }

@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
}

@font-face {
	font-family: Oswald;
	src: url("../fonts/Oswald-Light.ttf") format("truetype");
}