/*
* GENERAL
*/

body {
	margin: 0 0;
}

#page-gen {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: #fff;

	min-width: 1020px;
	min-height: 640px;
}

#topmenu {
	position: fixed;
	top: 0;
	width: 100vw;
}

.panel-gen {
	height: 100vh;
	padding-left: 2vw;
	padding-top: 10vh;
}



p { 
	line-height: 1.2;
	margin: 0 0;
}

a {
	color :#727272 !important;
}

a:hover {
	color: #03A9F4 !important;
}

a i {
	color: inherit;
}

/*
* LANDING PANEL
*/

/*Bigger things*/

#container-landing{
	padding-top: 25vh;
}

#greet {
	margin-bottom: 0;
	font-size: 7vw;
}

#landing-blurb {
	overflow: hidden;
	margin-left:0.4vw;
}

/*Navigation*/

#container-landing ul {
	list-style: none;
	font-size: 4vw;
	padding-left: 0;
}

#container-landing ul li {
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1vw;

}

/*
* ABOUT ME PANEL
*/

/*Bigger things*/

#container-aboutme {
	width: 95%;
}

#container-aboutme p {
	margin-top: 0;
}

#img_bubble1 {
	border-radius: 7em;
	height:20vh;
	display: inline;
}


/*
* INTOUCH PANEL
*/

#panel-intouch .fp-tableCell {
	vertical-align: baseline;
}

#container-intouch {
	margin-left:2vw;
	width: 95%;
	margin-top:2vh
}

#details-form {
	width: 90vw;
	height: 20vh;
	resize: none;
}

/*
* MODIFIERS
*/

.accentsize { font-size: 3vw; }
.basesize { font-size: 2vw; }

.bold { font-weight: bold; }

.pos-abs { position: absolute; }

.mt-z { margin-top: 0; }
.mt2 { margin-top: 0.5em;}
.mb-z { margin-bottom: 0; }

.vcenter {
    top: 40vh;
    position: relative;
    transform: translateY(-50%);
}

.primarytext {color :#727272;} 
.accent {color:#03A9F4;}

.ta-center { text-align: center; }

/*
* SOCIAL MEDIA BOXES
*/


.social ul {
	list-style: none;
	margin-bottom: 0;
}

.social ul li {
	display: inline;
}

.social ul li a i {
	font-size: 7vh;
}

/*
* FONT DATA
*/

.opensans { font-family: OpenSans; }
.oswald { font-family: Oswald; }
.courgette { font-family: Courgette; }

@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
}

@font-face {
	font-family: Oswald;
	src: url("../fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
	font-family: Courgette;
	src: url("../fonts/Courgette-Regular.ttf") format("truetype");
}