/* Normalize */

body,html {
    font-size: 16px;
    overflow-x: hidden;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: inherit;
    margin: 0.5em 0;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p, button, span, label, input, textarea {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
    line-height:1.4;
    margin: 0.5em 0;
}

input, textarea {
    outline: none;
}

/* General elements */

.full-page-wrapper {
    width:100vw;
    height: 100vh;
}

.content-wrapper {
    margin-left: 4em;
    overflow:hidden;
}

.content-wrapper > h1:first-child {
    margin-top:2rem;
}

.important-bit {
    border-bottom: 1px dashed #000;
    display: inline;
}

.left-border {
    border-left: 3px solid #000;
    padding-left: 1rem;
    color: #000;
}

/* Landing elements */

#landing-wrapper {
    background-image: url('assets/landing-bg-optimized.jpg');
    background-size: cover;
    box-shadow: inset 9999px 0 0 0 rgba(0,0,0,0.5);
    overflow: auto;
    color:#fff;
}

#landing-block-1 {
    margin-top: 10vh;
    border-left: 3px solid #fff;
    padding-left: 1em;
    margin-left: 4em;
}

#landing-block-1 > h1:first-child {
    font-size: 4em;
    line-height: 0.6;
}

#landing-block-1 > p {
    width: 40%;
}

#landing-block-2 {
    margin-right:4em;
    float:right;
    border-right: 3px solid #fff;
}

.landing-text-block {
    margin: 0 1em;
    max-width:40%;
    text-align: justify;
}

#landing-block-2 > .landing-text-block {
    float: right;
    clear:both;
}

#landing-block-2 > .landing-text-block:not(:last-of-type) {
    margin-bottom:1em;
}

#landing-block-3 {
    text-align: center;
}

#landing-block-3 .button {
    margin-top: 2em;
}

/* Résumé */

.content-wrapper > header > h1 {
    margin-bottom:0;
}

.content-wrapper > header > p {
    width: 70%;
}

.content-wrapper > section > p {
    width:80%;
}

.job-col {
    width: calc(30% - 1em);
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
}
/* Contact */

form > textarea {
    resize: none;
    width: calc(100% - 9em);
    height:20vh;
    margin-left: auto;
    margin-right: auto;
}

input.button.inv-button {
    margin-left:auto;
    margin-right:auto;
}

.submit-btn-wrapper {
    text-align: center;
    width: calc(100% - 9em);
}

/* General elements */

.button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding:1em 2em;
    font-size: 1.5em;
    outline: none;
}

.inv-button {
    border: 1px solid #000;
    color: #000;
}

.button.inv-button {
    color :#000;
}

.button.inv-button:hover {
    background-color: #000;
    color:#fff;
    -webkit-transition:background 0.5s;
    -moz-transition:background 0.5s;
    -o-transition:background 0.5s;
    transition:background 0.5s
}

.button:not(.inv-button):hover {
    background-color: #fff;
    color: #000;
}

.nav-arrow {
    margin: 1em;
    padding: 0.5em;
    border-radius:0.5em;
}

#nav-arrow-up {
    position:fixed;
    top: 0;
    right: 0;
}

#nav-arrow-down {
    position:fixed;
    bottom: 0;
    right: 0;
}

.social-media {
    text-align: center;
    width: calc(100% - 9em);
    margin-top:2em;
    margin-bottom:2em;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color:#000;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

.smGlobalBtn:hover {
    color:#000;
    background-color: #fff;
    -webkit-transition:background 0.5s;
    -moz-transition:background 0.5s;
    -o-transition:background 0.5s;
    transition:background 0.5s
}
