#header {
  position: absolute;
  top: 0;
  left: 0;
}

#header_contents {
  position: relative;
  width: 75%;
  left: 12.5%;    
  text-align: justify;
}
#header_title {
  display: none;
  
  font-size: 250%;
  width: 100%;
}

#header_blurb {
  display: none;

}
